body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
h2{
    font-size: 40px;
}
section{
    width: auto;
    margin-bottom: 100px;
}
.flexible-container{
    display: flex;
}
.half-width-1{
    width: 50%;
    padding-left: 2%;
    text-align: justify;
}
.half-width-2{
    width: 50%;
    padding-left: 40px;

}
.half-width-2 img{
    width:80%;
    height: auto;   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color: orange;
}
.box-shadow-1{
    width: 50%;
    box-shadow: 10px 10px 10px 10px grey;
    margin-left: 20px;
    margin-right: 30px;
    padding: 15px;
}
.box-shadow-2{
    width: 50%;
    box-shadow: 10px 10px 10px 10px grey;
    margin-left: 20px;
    margin-right: 30px;
    padding: 15px;
}
.experiences{
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}